<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Contr_Usuarios</servlet-name>
        <servlet-class>Controlador.Contr_Usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contr_Contacto</servlet-name>
        <servlet-class>Controlador.Contr_Contacto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contr_Departamento</servlet-name>
        <servlet-class>Controlador.Contr_Departamento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contr_Ciudad</servlet-name>
        <servlet-class>Controlador.Contr_Ciudad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contr_Seleccion</servlet-name>
        <servlet-class>Controlador.Contr_Seleccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contr_CreacionImg</servlet-name>
        <servlet-class>Controlador.Contr_CreacionImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contr_ImgSeleccion</servlet-name>
        <servlet-class>Controlador.Contr_ImgSeleccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Contr_Satisfaccion</servlet-name>
        <servlet-class>Controlador.Contr_Satisfaccion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contr_Usuarios</servlet-name>
        <url-pattern>/Contr_Usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contr_Contacto</servlet-name>
        <url-pattern>/Contr_Contacto</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>
            404
        </error-code>
        <location>
            /View/ErrorServidor.jsp?Error=404
        </location>
    </error-page>
    <error-page>
        <error-code>
            500
        </error-code>
        <location>
            /View/ErrorServidor.jsp?Error=500
        </location>
    </error-page>
    <servlet-mapping>
        <servlet-name>Contr_Departamento</servlet-name>
        <url-pattern>/Contr_Departamento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contr_Ciudad</servlet-name>
        <url-pattern>/Contr_Ciudad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contr_Seleccion</servlet-name>
        <url-pattern>/Contr_Seleccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contr_CreacionImg</servlet-name>
        <url-pattern>/Contr_CreacionImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contr_ImgSeleccion</servlet-name>
        <url-pattern>/Contr_ImgSeleccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Contr_Satisfaccion</servlet-name>
        <url-pattern>/Contr_Satisfaccion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
